<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.zjut.androiddeveloper_sx.calendar">

    <!-- 闹钟 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/> -->

    <!-- 短信 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- 修改或删除您的USB存储设备中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/calendar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/calendar"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="14b843c1cd812fcf701a2ec2f0fcfb77" />

        <activity android:name="androiddeveloper_sx.calendar.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="androiddeveloper_sx.calendar.BigDayActivity" />
        <activity android:name="androiddeveloper_sx.calendar.ScheduleActivity" />
        <activity android:name="androiddeveloper_sx.calendar.AddBigDayActivity" />
        <activity android:name="androiddeveloper_sx.calendar.AddActivity" />
        <activity android:name="androiddeveloper_sx.calendar.AddScheduleActivity" />
        <activity android:name="androiddeveloper_sx.calendar.LookScheduleActivity" />
        <activity android:name="androiddeveloper_sx.calendar.LookBigDayActivity" />
        <activity android:name="androiddeveloper_sx.calendar.EditBigDayActivity" />
        <activity android:name="androiddeveloper_sx.calendar.EditScheduleActivity" />

        <service
            android:name="androiddeveloper_sx.calendar.service.ClockService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="androiddeveloper_sx.calendar.service.TaskService"
            android:enabled="true"
            android:exported="true" />
        <service android:name="com.amap.api.location.APSService" />

    </application>

</manifest>